<!--========================  Header User  ========================-->  

 <div th:fragment="header">

    <header class="container">
        <div class="navbar">
          <div class="logo">
            <a th:href="@{/administrador}"><img th:src="@{/css/img/logo.svg}" alt="ecommerce"/></a>
          </div>
          <nav>
            <ul id="MenuItems">
              <li><a th:href="@{/administrador}">Inicio</a></li>
              <li><a th:href="@{/productos}">Productos</a></li>
              <li><a href="#">Nosotros</a></li>
              <li><a href="#">Contacto</a></li>
              <li><a href="account.html">Cuenta</a></li>   
            </ul>
          </nav>
          <a href="cart.html"><img th:src="@{/css/img/user.png}" alt="" width="30px" height="30px" /></a>
          <img src="https://i.ibb.co/6XbqwjD/menu.png" alt="" class="menu-icon" onclick="menutoggle()" />
        </div>
        <hr />
    </header>
    
 </div><!-- End div fragment -->
    
    
    
<!--========================  Footer User ========================-->  
<div th:fragment="footer">
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col-1">
          <h3>Descarga ya nuestra App</h3>
          <p>Disponible para MacOs y Windows</p>
          <div class="app-logo">
            <img src="https://i.ibb.co/KbPTYYQ/play-store.png" alt="" />
            <img src="https://i.ibb.co/hVM4X2p/app-store.png" alt="" />
          </div>
        </div>

        <div class="footer-col-2">
          <img th:src="@{/css/img/logo.svg}" alt="" />
          <p>
            Somos un nuevo concepto en moda y estilo
          </p>
        </div>

        <div class="footer-col-3">
          <h3>Menu</h3>
          <ul>
            <li>Inicio</li>
            <li>Productos</li>
            <li>Nosotros</li>
            <li>Contacto</li>
            <li>Cuenta</li>
          </ul>
        </div>

        <div class="footer-col-4">
          <h3>Redes Sociales</h3>
            <ul>
                <li><a href="https//:www.facebook.com" target="_blank"></a>Facebook</li>
              <li>Twitter</li>
              <li>Instagram</li>
              <li>YouTube</li>
            </ul>
        </div>
      </div>
      <hr />
      <p class="copyright">Copyright &copy; 2022 - E-commerce</p>
    </div>
      <script th:src="@{/js/main.js}"></script>
</footer>
   
</div><!-- End fragment -->
