@charset "UTF-8";
/*
    Project: Ecommerce HTML Template
    Version: 1.0
    Date Created: 30/09/2022
    Developed by: robert villano
*/
/*
    TABLE OF CONTENT
        1. TYPHOGRAPHY
            1.1 typhography
        2. ELEMENTS
            2.1 button
            2.2 form
            2.3 products
            2.4 product details
            2.5 offer
            2.6 testimonial
            2.7 media query menu
            2.8 cart items
            2.9 account page
            2.10 media query min 600px small
            
        3. COMPONENTS
             3.1 cart
             3.2 forms
             3.3 search
             3.4 section
             3.5 pages
             3.6 crud
             3.7 register product
        4. MODULES
            4.1 header
            4.2 footer
*/



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*============ typhography =============*/
body {
  font-family: "Poppins", sans-serif;
}

/*============ header ===========*/
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #2f3192;
}

nav a:hover{
    color: #f25a2a;
}

nav a:active{
    color: #f25a2a;
}

.logo img{
    height: 80px;
    width: 80px;
}

p {
  color: #555;
}

header hr {
  border: none;
  background: #2f3192;
  height: 1px;
  margin: 20px 0;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}


/*============ button =============*/
a.btn-default{
  display: inline-block;
  background: #ff523b;
  color: #ffffff;
  padding: 8px 30px;
  margin: 30px 0;
  transition: background 0.5s; 
}

a.btn-default:hover{
  background: #cc412f;
  color: #ffffff; 
  cursor: pointer;
}

.btn {
  display: inline-block;
  background: #ff523b;
  color: #ffffff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #563434;
}

/*============== header  ===============*/
.header {
  background: radial-gradient(#fff, #ffd6d6);
}

.header .row {
  margin-top: 70px;
}

.categories {
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
  text-align: center;
}

.col-4 img {
  width: 100%;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

h4 {
  color: #2f3192;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

.col-4 p {
  color: #f25a2a;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}


.col-4:hover {
  transform: translateY(-5px);
}

/*=========== offer =============*/

.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}

.col-2 .offer-img {
  padding: 50px;
}

small {
  color: #555;
}

/*=========== testimonial ===============*/

.testimonial {
  padding-top: 100px;
}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.testimonial .col-3 img {
  width: 100px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial .col-3:hover {
  transform: translateY(-10px);
}

.fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}

.col-3 p {
  font-size: 14px;
  margin: 12px 0;
  color: #777777;
}

.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

.brands {
  margin: 100px auto;
}

.col-5 {
  width: 160px;
}

.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}

.col-5 img:hover {
  width: 100%;
  cursor: pointer;
  filter: grayscale(0);
}

/*========== footer ==============*/

.footer {
  background: #f7f7f7;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #2f3192;
}

.footer h3 {
  color: #2f3192;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer ul>li{
    color: #2f3192;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  height: 90px;
  width: 90px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style-type: none;
}


.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}

.footer hr {
  border: none;
  background: #2f3192;
  height: 1px;
  margin: 20px 0;
}

.copyright {
  text-align: center;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

/*============ media query menu =============== */

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

/*============ products ================*/

div a.btn-add{
    float: left;
    margin: 0 50px auto;
}

.container-products{
  /*align-items: center;*/
  display: flex;
  /*justify-content: space-between;*/
  margin: 0;
  flex-flow: row wrap;
  padding: 0;
}

.items-product{
    align-items: center;
    display: flex;
    flex-basis: 16.666%;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    padding: 1rem;
}

@media (min-width: 56rem){
    .items-product{
       width: 33.3333%; 
    }
        
 }

@media (min-width: 40rem){
    .items-product{
        width: 30%;
    }
        
 }

.section-grid{
   display: flex; 
   flex-direction: column;
   padding-left: 25px;
   padding-right: 25px;
   overflow: hidden;
}

.grid-product{
  flex: 1 1 auto;
  display: flex; 
  flex-direction: column;
  padding: 1rem;  
}
.image-product-container{
  background-color: #337ab7;
  margin-bottom: 20px;
  height: auto;
  width: 100%;
}

.image-product{
  height: auto;
  vertical-align: middle;
  width:100%;
}

.row h2{
    color: #2f3192;
    font-weight: 600;
}

.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}

select {
  border: 1px solid #ff523b;
  padding: 5px;
}

select:focus {
  outline: none;
}

.page-btn {
  margin: 0 auto 80px;
}

.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  color: #2f3192;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.page-btn span:hover {
  background: #ff523b;
  color: #ffffff;
}

/*========== product details =============*/

.single-product {
  margin-top: 80px;
}

.single-product .col-2 img {
  padding: 0;
}

.single-product .col-2 {
  padding: 20px;
}

.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}

input:focus {
  outline: none;
}

.single-product .fas {
  color: #ff523b;
  margin-left: 10px;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

/*============= cart items ==============*/

.cart-page {
  margin: 90px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px;
  color: #ffffff;
  background: #ff523b;
  font-weight: normal;
}
td {
  padding: 10px 5px;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: #ff523b;
  font-size: 12px;
}

td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 400px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}
/*============= account page =============== */
.account-page {
  padding: 50px 0;
  background: radial-gradient(#fff, #ffd6d6);
}

.form-container {
  background: #ffffff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: #555555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}

.form-btn {
  display: inline-block;
}

.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}

form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}

form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

form .btn:focus {
  outline: none;
}

#LoginForm {
  left: -300px;
}

#RegForm {
  left: 0;
}

form a {
  font-size: 12px;
}

#Indicator {
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}

/*================ media query min 600px small =============== */

@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }

  .single-product .row {
    text-align: left;
  }

  .single-product .col-2 {
    padding: 20px 0;
  }
  .single-product h1 {
    font-size: 26px;
    line-height: 32px;
  }
  .cart-info p {
    display: none;
  }
}

/*============== crud ==================*/

body {
  font-size: 14px;
  line-height: 1.4;
}

.btn-edit{
  background-color: #337ab7;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
}

.btn-delete{
  background-color: #d9534f;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
}

.btn-add{
  background-color: #5cb85c;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
}

.responsive {
  width: 100%;
  border-collapse: collapse;
}
.responsive tr:nth-of-type(odd) {
  background: #eee;
}

table>.responsive h2{
    color: #2f3192;
}

.responsive th {
  font-weight: bold;
  background: #2f3192;
  color: white;
}
.responsive th, .responsive td {
  text-align: center;
  padding: 6px;
}
@media only screen and (max-width: 640px) {
  .table-prodcut {
    padding: 20px;
  }
  .responsive, .responsive thead, .responsive tbody, .responsive th, .responsive td, .responsive tr {
    display: block;
  }
  .responsive {
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
  }
  .responsive thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .responsive td {
    border: none;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding-left: 50%;
  }
  .responsive td:nth-of-type(4) {
    border-bottom: 0;
  }
  .responsive tr {
    border-bottom: 1px solid #bbb;
    padding: 10px;
  }
  .responsive td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }
  .responsive td:nth-of-type(1):before {
    content: "Nombre";
  }
  
  .responsive td:nth-of-type(2):before {
    content: "Descripción";
  }
  .responsive td:nth-of-type(3):before {
    content: "Precio";
  }
  .responsive td:nth-of-type(4):before {
    content: "Cantidad";
  }
  
  .responsive td:nth-of-type(5):before{
    content: "Acción";
  }
  
  .responsive td:nth-of-type(6):after {
    content: "Producto";
  }
  
  .responsive td:nth-of-type(5):after {
    content: "Precio";
  }
  
}

/*============== register product ==================*/

section.form-product{
    align-content: center;
}

form input#foto{
    border: 0;
}

form input{
    margin: 5px 0;
}

form label{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

form h1{
    font-weight: 700;
    text-align: center;
}

form div{
    margin: 10px auto;
}

form{
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Poppins", sans-serif;

  hr {
    margin-bottom: 2rem;
  }

  div {
    background: #fafafa;
    border: 1px solid #eee;
    padding: 2rem;
    margin-bottom: 1rem;
  }

  fieldset {
    border: 1px solid #eee;
  }
  
}

textarea {
    border: 1px solid #ccc;
    outline: none;
    resize: none;
    width: 100%;
    margin: 1rem auto;
    min-height: 60px;
    max-height: 200px;
    padding: 5px;
 }

/*================== product detail ====================*/

.card-wrapper{
    max-width: 1100px;
    margin: 50px auto;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #2f3192;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #2f3192;
}

.product-price,.product-quantity{
    color: #2f3192;
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}

.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}

/*================ Carrito de Compras ===============*/


 h3{
  text-shadow: 2px 2px 8px rgba(70, 74, 110, 0);
}

 input{
  width: 40px;
}

.title-cart a{
    
}

.title-cart h3, .title-cart h2{
    color: #2f3192;
    font-weight: 700;
    padding: 10px 5px;
    text-align: center;
}

.title-cart p{
  color: #2f3192;
  font-size: 16px;
  text-align: center;
}

.shopping-cart, .Table{
    justify-content:  center;
}

 .shopping-cart {
    font-family: "Poppins", sans-serif;
    width: auto;
    height: 150px;
    text-align: center;
    border-collapse: collapse;
  }

 .Table.shopping-cart .TableCell, .Table.shopping-cart .TableHead {
    border: 0px solid #AAAAAA;
    padding: 15px 15px;
  }

  .Table.shopping-cart .TableBody .TableCell {
    font-size: 15px;
  }
  
  .Table.shopping-cart .product:nth-child(even){
    background: #d4d8dc;
  }
  
  .Table.shopping-cart .column-labels {
      border-bottom: 1px solid #2f3192;
  }
  
  .shopping-cart .column-labels .TableHead {
    font-size: 16px;
    font-weight: bold;
    color: #2f3192;
    text-align: center;
  }

 /* I added the dollar sign next to price */
  .product .product-price:before, .product .product-line-price:before, .totals-value:before {
    content: '$';
  }
  
  .totals-value{
      color: #2f3192;
  }
  
  .totals-item, .totals-value {
      font-weight: 700;
  }
  
  .totals-item, .totals-value b{
      color: #2f3192;
  }
  
  .product-line-price{
      color: #2f3192;
      font-weight: 700;
  }
  
  .totals {
    display: table-row;
  }
 
  /*=== Table ===*/
  .Table{ display: table; }
  .product { display: table-row; }
  .column-labels { display: table-header-group;}
  .TableCell, .TableHead { display: table-cell;}
  .column-labels { display: table-header-group;}
  .TableBody { display: table-row-group;}

  /*=== checkout button ===*/
  .btn-check {
    cursor: pointer;
    float: right;
    border: 0;
    margin-top: 20px;
    margin-right: -180%;
    padding: 6px 10px;
    background-color: #5cb85c;
    color: #fff;
    font-size: 20px;
  }
  
  
  /*=========== resumen orden compra ============ */
  
.flexible {
  width: 100%;
  border-collapse: collapse;
}
.flexible tr:nth-of-type(odd) {
  background: #eee;
}

table>.flexible h2{
    color: #2f3192;
}

.flexible th {
  font-weight: bold;
  background: #2f3192;
  color: white;
}
.flexible th, .flexible td {
  text-align: center;
  padding: 6px;
}
  
 @media only screen and (max-width: 640px) { 
.flexible, .flexible thead, .flexible tbody, .flexible th, .flexible td, .flexible tr {
    display: block;
  }
  .flexible {
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
  }
  .flexible thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .flexible td {
    border: none;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding-left: 50%;
  }
  .flexible td:nth-of-type(4) {
    border-bottom: 0;
  }
  .flexible tr {
    border-bottom: 1px solid #bbb;
    padding: 10px;
  }
  .flexible td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }
  .flexible td:nth-of-type(1):before {
    content: "Producto";
  }
  
  .flexible td:nth-of-type(2):before {
    content: "Precio";
  }
  .flexible td:nth-of-type(3):before {
    content: "Cantidad";
  }
  .flexible td:nth-of-type(4):before {
    content: "Total";
  } 
}

div .btn-add{
    float: right;
    margin: 0 50px auto;
}


.summary tr, .summary td{
    color: #2f3192;
    display: block;
    font-weight: 700;
    font-size: 18px;
    margin-right: 15px;
    text-align: right;
}
.info label{
  color: #2f3192;
  display: block;
  font-weight: 600;
  font-size: 15px;
  margin-left: 0;
}

.info h2{
    color: #2f3192;
}

.order-title{
    color: #2f3192;
    padding: 15px 20px;
}
.mid,info {
    padding: 20px;
}

.legalcopy{
  margin-top: 1rem;
}

.legal strong{
    display: block;
    margin: 5px;    
}

.legal{
    color: #2f3192;
    align-content: center;
    padding: 15px 100px;
    text-align: center;
    margin: 80px 0 40px 0;
}





 